{{#each this}}
  <img class='modal-poster' src={{poster_path}} alt={{title}} width='240' />
  <div>
    <div>
      <h2 class='modal-movie-title'>{{title}}</h2>

      <div class='wrap-flex'>
        <div>
          <p class='movie-label'>Vote / Votes</p>
          <p class='movie-label'>Popularity</p>
          <p class='movie-label'>Original Title</p>
          <p class='movie-label'>Genre</p>
        </div>

        <div class='wrap-movie-disc'>
          <p class='movie-disc'>
            <span class='accent-detail'> {{vote}}</span><span
              class='movie-label'
            >
              /
            </span>{{votes}}
          </p>
          <p class='movie-disc'>{{popularity}}</p>
          <p class='movie-disc movie-disc-title'>{{original_title}}</p>
          <p class='movie-disc movie-disc-genres'>{{genre}}</p>
        </div>
      </div>

      <h3 class='disc-title'>About</h3>
      <p class='disc-text'>
        {{about}}
      </p>
    </div>
    <div class='button-container'>
      <button type='button' class='modal-btn'>add to watched</button>
      <button type='button' class='modal-btn btn-queue'>
        add to queue
      </button>
    </div>
  </div>
{{/each}}